<h1> Have you been naughty? </h1>
<h2> the account has been locked </h2>
<h2> till   : xxx days </h2>
<h2> for    : yyy reason </h2>
<h2> by     : zzz </h2>

<h3> 
    You have been logged out. You can login after the ban has been lifted. 
    If you want to appeal against the ban, catch hold of a mod/admin on the chat.
</h3>