<article id="user_profile_page">
    <h1> Placeholder for the User page </h1>
    <ul> User info: 
        <li> unqid:     <%= user_data[:unqid] %> </li>
        <li> email:     <%= user_data[:email] %> </li>
        <li> nickname:  <%= user_data[:nickname] %> </li>
        <li> flair:     <%= user_data[:flair] %> </li>
    </ul>
</article>